### Files to be ignored by Git ###

# Ansible
Gemfile.lock

# Vagrant
/\.vagrant/

# IntelliJ IDEA
/*\.ipr
/*\.iws
/\.idea/
**/*\.iml

# Eclipse
/\.classpath
/\.project
/\.settings/

# Mac
**/\.DS_Store

# Custom
/temp/
/tmp/
