---
- { include: ../../silpion.util/tasks/_get.yml,
      url: "{{ tomcat_download_url }}",
      dest: "{{ util_persistent_data_path_local }}/{{ tomcat_redis_filename }}",
      sha256sum: "{{ tomcat_redis_sha256sum }}"
  }

- { include: ../../silpion.util/tasks/_put.yml,
      src: "{{ util_persistent_data_path_local }}/{{ tomcat_redis_filename }}",
      dest: "{{ util_persistent_data_path_remote }}/{{ tomcat_redis_filename }}"
  }
