{
    "general": {
        "vendor": "Silpion",
        "vendor_url": "http://silpion.de",
        "vendor_github": "https://github.com/silpion",
        "role_version": "{{ tomcat_role_version }}",
        "version": "{{ tomcat_version }}",
        "catalina_home": "{{ tomcat_env_catalina_home }}",
        "allow_restart": {{ tomcat_service_allow_restart|lower }}
    },
    "instances": {
{% for instance in tomcat_instances %}
        "{{ instance.name }}": {
            "catalina_base": "{{ instance.path|default(tomcat_default_instance_path) }}",
            "port": {
                "shutdown": {{ instance.port_shutdown|default(tomcat_default_port_shutdown) }},
                "connector": {{ instance.port_connector|default(tomcat_default_port_connector) }},
                "redirect": {{ instance.port_redirect|default(tomcat_default_port_redirect) }},
                "ajp": {{ instance.port_ajp|default(tomcat_default_port_ajp) }}
            },
            "user": "{{ instance.user|default(tomcat_default_user_name) }}",
            "group": "{{ instance.group|default(tomcat_default_user_group) }}",
            "service": {
                "name": "{{ instance.service_name|default(tomcat_default_service_name) }}",
                "file": "{{ tomcat_service_dir }}/{{ instance.service_file|default(tomcat_default_service_file) }}"
            }
        }{% if not loop.last %},{% endif %}

{% endfor %}
    }
}
