{% if util_template_use_cow %}
#  --------------------
# ( Managed by Ansible )
#  --------------------
#   o            .    .     .
#    o      .  . .     `  ,
#     o    .; .  : .' :  :  : .
#      o   i..`: i` i.i.,i  i .
#       o   `,--.|i |i|ii|ii|i:
#            UooU\.'@@@@@@`.||'
#            \__/(@@@@@@@@@@)'
#                 (@@@@@@@@)
#                 `YY~~~~YY'
#                  ||    ||
{% else %}
# {{ ansible_managed }}
{% endif %}

[general]
version = {{ tomcat_version }}

{% for instance in tomcat_instances %}
[instances/{{ instance.name }}]
catalina_base = {{ instance.path|default(tomcat_default_instance_path) }}/catalina/{{ instance.name }}
{% endfor %}