description "Tomcat servlet container"

start on runlevel [2345]
stop on runlevel [!2345]
respawn
respawn limit 10 5

setuid {{ tomcat_user }}
setgit {{ tomcat_group }}

env JAVA_HOME={{ tomcat_java_home.stdout }}
env CATALINA_HOME={{ tomcat_install_dir }}/{{ tomcat_version }}

script
  exec $CATALINA_HOME/bin/catalina.sh run
end script
