[Unit]
Description=Tomcat servlet container {{ item.name|default('') }}
After=network.target

[Service]
User={{ item.user|default(tomcat_default_user_name) }}
Group={{ item.group|default(tomcat_default_user_group) }}
{% if item.umask is defined %}
UMask={{ item.umask }}
{% endif %}
{% if item.systemd_default_instance is defined %}
DefaultInstance={{ item.systemd_default_instance }}
{% endif %}
Restart=on-failure
Environment=TOMCAT_JAVA_HOME={{ ansible_local.java.general.java_home }}
Environment=CATALINA_HOME={{ tomcat_env_catalina_home }}
{% if item.service_name|default(tomcat_default_service_name)|search('@') %}
EnvironmentFile=-{{ item.path|default(tomcat_default_instance_path) }}/catalina/%i/.systemd.conf
{% else %}
EnvironmentFile=-{{ item.path|default(tomcat_default_instance_path) }}/.systemd.conf
{% endif %}

ExecStart={{ ansible_local.java.general.java_home }}/bin/java \
  -Djava.util.logging.config.file={{ item.path|default(tomcat_default_instance_path) }}/conf/logging.properties \
  -Djava.util.logging.manager=org.apache.juli.ClassLoaderLogManager \
{% if item.prefer_urandom|default(tomcat_default_prefer_urandom) %}
  -Djava.security.egd=file:/dev/./urandom \
{% endif %}
  -Djava.endorsed.dirs={{ tomcat_env_catalina_home }}/endorsed \
  -Dcatalina.home={{ tomcat_env_catalina_home }} \
  -Dcatalina.base={{ item.path|default(tomcat_default_instance_path) }} \
  -Djava.io.tmpdir={{ item.path|default(tomcat_default_instance_path) }}/temp \
{% if item.prefer_ipv4|default(tomcat_default_prefer_ipv4) %}
  -Djava.net.preferIPv4Stack=true \
{% endif %}
   $JAVA_OPTS $CATALINA_OPTS \
{% if tomcat_version|version_compare('8.5', '>=') %}
  -Djava.protocol.handler.pkgs=org.apache.catalina.webresources \
{% endif %}
  -classpath "{{ tomcat_env_catalina_home }}/bin/bootstrap.jar:{{ tomcat_env_catalina_home }}/bin/tomcat-juli.jar" \
  org.apache.catalina.startup.Bootstrap start

ExecStop={{ ansible_local.java.general.java_home }}/bin/java \
  -Djava.util.logging.config.file={{ item.path|default(tomcat_default_instance_path) }}/conf/logging.properties \
  -Djava.util.logging.manager=org.apache.juli.ClassLoaderLogManager \
{% if item.prefer_urandom|default(tomcat_default_prefer_urandom) %}
  -Djava.security.egd=file:/dev/./urandom \
{% endif %}
  -Djava.endorsed.dirs={{ tomcat_env_catalina_home }}/endorsed \
  -Dcatalina.home={{ tomcat_env_catalina_home }} \
  -Dcatalina.base={{ item.path|default(tomcat_default_instance_path) }} \
  -Djava.io.tmpdir={{ item.path|default(tomcat_default_instance_path) }}/temp \
{% if item.prefer_ipv4|default(tomcat_default_prefer_ipv4) %}
  -Djava.net.preferIPv4Stack=true \
{% endif %}
   $JAVA_OPTS \
{% if tomcat_version|version_compare('8.5', '>=') %}
  -Djava.protocol.handler.pkgs=org.apache.catalina.webresources \
{% endif %}
  -classpath "{{ tomcat_env_catalina_home }}/bin/bootstrap.jar:{{ tomcat_env_catalina_home }}/bin/tomcat-juli.jar" \
  org.apache.catalina.startup.Bootstrap stop

[Install]
WantedBy=multi-user.target
