#!/bin/bash
#
# Startup/shutdown script for tomcat application server.
#
# chkconfig: 2345 56 10
# description: Startup/shutdown script for the tomcat application server.
#

. /etc/init.d/functions

export TOMCAT_USER={{ tomcat_user_name }}
export JAVA_HOME={{ ansible_local.java.general.java_home }}
export PATH=${PATH}:${JAVA_HOME}/bin
export CATALINA_HOME={{ tomcat_env_catalina_home }}
export CATALINA_BASE={{ tomcat_env_catalina_base }}
export CATALINA_OPTS="{{ tomcat_env_catalina_opts|default('') }}"


: ${ret:=0}
LOCK=/var/run/tomcat.lock
PROC=tomcat


start(){
  echo -n $"Starting $PROC: "
{% if tomcat_service_umask is defined %}
  umask {{ tomcat_service_umask }}
{% endif %}
  daemon $CATALINA_HOME/bin/catalina.sh start
  ret=$?
  echo
  [ $ret -eq 0 ] && touch $LOCK
}

stop(){
  echo -n $"Stopping $PROC: "
  killproc $PROC
  ret=$?
  echo
  [ $ret -eq 0 ] && rm -f $LOCK
}


case "$1" in
  start)
    start
  ;;
  stop)
    stop
  ;;
  restart)
    stop
    start
  ;;
  status)
    status $PROC
  ;;
  *)
    echo $"Usage: $prog {start|stop|restart|status}"
    exit 3
  ;;
esac

exit $ret
