description "Tomcat servlet container"

start on runlevel [2345]
stop on runlevel [!2345]
respawn
respawn limit 10 5

setuid {{ item.user|default(tomcat_default_user_name) }}
setgid {{ item.group|default(tomcat_default_user_group) }}

env JAVA_HOME={{ ansible_local.java.general.java_home }}
env CATALINA_HOME={{ tomcat_env_catalina_home }}
env CATALINA_BASE={{ item.home|default(tomcat_default_user_home) }}/catalina/{{ item.name }}
env CATALINA_OPTS="{{ item.catalina_opts|default('') }}"

script
{% if item.umask is defined %}
  umask {{ item.umask }}
{% endif %}
  exec {{ tomcat_env_catalina_home }}/bin/catalina.sh run
end script

post-stop script
  rm -rf {{ item.home|default(tomcat_default_user_home) }}/catalina/{{ item.name }}/temp/*
end script
